<h1>Ekiden.hbs</h1>

<h2 class="center-align">This is the About route</h2>  
<h2>About</h2>
    
     {{#each model.about as |about|}}
    {{{about.content}}}
  {{/each}}
  <h2>Enter</h2>
    
     {{#each model.enter as |enter|}}
     1{{enter}}
      2{{enter.title}}
      3{{enter.date}}
      4{{{enter.content}}}
    {{/each}}

    <h2>Posts</h2>
    <ul>
    {{#each model.posts as |post|}}
   {{{post.content}}}
    {{/each}}
    </ul>
    
        <h2>Pages</h2>
    <ul>
    {{#each model.pages as |page|}}
    {{{page.content}}}
    {{/each}}
    </ul>

    
        <div class="android-wear-section">
          <div class="android-wear-band">
            <div class="android-wear-band-text">
              <div class="mdl-typography--display-2 mdl-typography--font-thin">The best of Google built in</div>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                Android works perfectly with your favourite apps like Google Maps,
                Calendar and YouTube.
              </p>
              <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
                  See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i>
                </a>
              </p>
            </div>
          </div>
        </div>